
/*Buttons */
#playButton {
  -fx-body-color: linear-gradient(to top, #7FB2F0 ,#ADD5F7);
  -fx-outer-border: #16193B;
  -fx-cell-hover-color: #35478C;
  -fx-selection-bar-text: #35478C;
  -fx-focus-color: #35478C;
}
#skipBackButton {
  -fx-body-color: linear-gradient(to top, #7FB2F0 ,#ADD5F7);
  -fx-outer-border: #16193B;
  -fx-cell-hover-color: #35478C;
  -fx-selection-bar-text: #35478C;
  -fx-focus-color: #35478C;
}
#skipForwardButton {
  -fx-body-color: linear-gradient(to top, #7FB2F0 ,#ADD5F7);
  -fx-outer-border: #16193B;
  -fx-cell-hover-color: #35478C;
  -fx-selection-bar-text: #35478C;
  -fx-focus-color: #35478C;
}




/*playbackSlider*/
#playbackSlider {
	-fx-background-color: #F0F4F7;
}
#playbackSlider .track {
  -fx-text-box-border: #4E7AC7;
  -fx-control-inner-background: #ADD5F7;
  -fx-pref-height:10;
  
}
#playbackSlider:vertical .track {
    -fx-pref-width:10;
}

#playbackSlider .thumb{
  -fx-pref-height: 20;
  -fx-pref-width: 20;
  -fx-text-box-border: #5c6166;
  -fx-body-color: #5c6166; 

}
#playbackSlider .thumb:hover {
  -fx-body-color: #5c6166; 
  -fx-text-box-border: #5c6166;
}

#playbackSlider .thumb:pressed {
    -fx-focus-color: #5c6166; 
}

#playbackSlider:focused .thumb {
    -fx-focus-color: #5c6166; 
    -fx-background-insets: -1.4, 0, 1, 2;
}

/*Split Panes*/
#volumeSplitPane {
	-fx-background-color:#F0F4F7;
}
#volumeSplitPane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
#volumeSplitPane:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}

.ButtonSplitPanes:vertical > .split-pane-divider {
   -fx-background-color: transparent;
}
.ButtonSplitPanes:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}
.ButtonSplitPanes {
   -fx-box-border: transparent;
   -fx-inner-border: transparent;
   -fx-background-color: transparent;
}

/*Volume Slider */

#volumeBar > .bar {
    -fx-background-color: #35478C;
}

/*Anchor Pane */
.AnchorPane{
  -fx-background-color: #F0F4F7;
}

#songList{
	-fx-background: #F0F4F7;
    -fx-control-inner-background-alt: #F0F4F7;
}
